dist/
node_modules/
project/project/
target/
.idea/
.bloop/
.vscode/
.metals/
.js/
.jvm/
.idea/
metals.sbt
/.scala-js-sources/
/yarn-error.log
.DS_Store
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.js
.env
.bsp
.metals
*.secret.env
